/* 
    Created on : Jun 30, 2016, 9:17:08 PM
    Author     : SummerSmith
*/

/* greein pop: #9fab6b; */


/* STYLING FOR NAVIGATION BAR (HEADER)*/
.head {
    color: #000000;
    font-family: "Arial";
     display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /*set to left, center, or right to align the menu as desired*/  
    background-color: #aaaaaa;
}

.head a{
    display: inline-block;
    border-bottom: none;
    border-top:none;
    text-decoration: none;
    padding: 11px;
    color: white;  
    text-transform: uppercase;  
}

.head a:hover{
    background-color:black;
    text-decoration:none; 
}


/*Centers Logo*/
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.flex-item {
    justify-content: space-around;
    text-align:center;
    display: flex;
    width: 130%;
}


/*STYLING FOR FOOTER MENU*/
.foot{
    list-style-type: none;
    font-family: "Arial";    
    margin: 0;
    margin-bottom: 3%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom: 0;   
    
}

.foot a{
    display: inline;
    text-transform: uppercase;
    text-decoration:none;
    color:white;
}