/* 
    Created on : Jun 30, 2016, 9:17:08 PM
    Author     : SummerSmith
*/

/* greein pop: #9fab6b; */

body{
    background-color:#d9d9d9ff;
    display: -webkit-flex;
    -webkit-flex-flow: column wrap;
    -webkit-align-items: center;
}

h4{
    color:#9fab6b; 
    text-transform: uppercase;
}

a:hover{
    background-color: black;
    color:white;
}

/* STYLING FOR NAVIGATION BAR (HEADER)*/
.header {
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;  
   width: 100%;
}

.logo{
    width:30%
}

.navigation {
    color: #000000;
    font-family: "Arial";
    display: inline-block;
    list-style-type: none;
    margin: 5px;
    text-align: center; /*set to left, center, or right to align the menu as desired*/  
    background-color: #666666;
    display: -webkit-flex;
    height: 50%;
    width: 70%;
}

.navigation a{
    border-bottom: none;
    border-top:none;
    text-decoration: none;
    padding: 11px;
    color: white;  
    text-transform: uppercase;
    justify-content: space-around;
    text-align:center;
    display: flex;
    height:100%;
}

.navigation a:hover{
    background-color:black;
    text-decoration:none; 
}


/*Centers Logo*/
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.flex-item {
    background-color: #000000;
    color: #ffffff;
    font-size: 24px;
    justify-content: space-around;
    padding: 0;
    display: flex;
    width: 100%;
}

/*STYLING FOR CONTENT*/

.body {
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    max-width: 70%;
}

.sidebar {
    background-color:#9599a5;
    color:white;
    justify-content: center;
    display: flex;
    width:20%;
}


/*STYLING FOR FOOTER MENU*/
.footer{
    list-style-type: none;   
    background-color: #666666;
    font-family: "Arial";    
    display: flex;
    justify-content:center;
    width: 100%;
    position: fixed;
    bottom: 0;  
    
}

.footer li{
    display: flex;
    display: inline;
    color:white;
    width:20%;
}
.footer a{
    text-decoration:none;
}



.footer p{
    width:50%;
}


/*STYLING FOR BUTTONS*/
button.link {
    display:flex;
    border: none;
    background-color:rgba(0,0,0,0); //Make background transparent
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    color:white;
}

button.link:hover{
    background-color: #9fab6b;
}